.idea
node_modules
bower_components
.vs
npm-debug.log.*
npm-debug.log
yarn-error.log
public/*.css
public/*.png
public/*.gif
public/bundle.js
public/bundle.js.map
public/bundle.css.map
public/fonts
public/*.js
public/*.js.map
public/vendor.js
public/vendor.js.map
bin/Microsoft.NodejsTools.WebRole.dll
.tmp
test.js
coverage.txt
.nyc_output
config/local.json
tools/*.http